*{
    background-color: #f8f8f8;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    font-family: 'Segoe UI';
}

.card{
    margin: 50px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    border: black 2px solid;
   
}


/* Avater styling*/
.avater-component{
    margin: 20px;
    display: flex;
    flex-direction: column;
}
.avater {
    margin: 10px;
    width: 450px;
    height: 450px;
    border-radius: 15px;
}

/*Data styling*/
.data {
    margin: 20px;
    border: black solid 2px;
    padding: 5px;
}

/*Intro components */
.intro-components {
    margin: 20px;
    border: solid black 3px;
    padding: 20px;
}

.name {
    text-align: center;
    font-size: 25px;
    font-family: 'Segoe UI';
    color: rgb(6, 6, 104);
}

.bio {
    text-align: center;
    font-size: 15px;
    font-family: 'Segoe UI';
}

/*SKills Section styling*/
.skills {
    display: flex;
    flex-direction: row;
    margin: 50px;
    gap: 5px;
    align-items: center;
}

/*Skilss styling*/
.skill {
    margin: 3px;
    align-self: center;

}