*{
    /*controling width and height*/
    box-sizing: border-box;
    /*Reseting to default Dimensions*/
    margin: 0;
    padding: 0;
    /*Center the text inside everything*/
    text-align: center;
    font-family: 'Segoe UI';
}

body {
    background-color: #7332D2;
    display: flex;
    justify-content: center;
    align-items: center;
    /*Force the body minmum Height Into the whole View Hieght*/
    min-height: 100vh;
}

/*Main card styling */
.card{
    width: 520px;
    margin: 50px;
    display: flex;
    overflow: hidden; /*Anything sticking out side the parent will be cliped*/
    flex-direction: column;
    /* border: black 2px solid; */
    background-color: #162029;
    border-radius: 28px;
    /*Saptle 3d background like feel*/ 
    box-shadow: 0 20px 40px rgba(0,0,0,.35);
}


/* Avater styling*/
.avater-component{
    width: 100%;
}
.avater {
    object-fit: cover;
    width: 100%;
    height: 320px;
    border-radius: 15px;
    display: block;
}

/*Data styling*/
.data {
    padding: 24px;
}

/*Intro components */
.intro-components {
    margin-bottom: 18px;
}

.name {
    font-size: 24px;
    font-weight: 600;
    color: #FCFFFF;
}

.bio {
    font-size: 18px;
    opacity: .9;
    margin-top: 15px;
    color: #7DF3FF;
}

/*SKills Section styling*/
.skills {
    display: flex;
    /*Wrap flex items into a Multiples lines */
    flex-wrap: wrap;
    margin: 10px;
    gap: 30px;
}

/*Skilss styling*/
.skill {
    background: rgba(36, 36, 36, 0.2);
    padding: 6px 12px;
    border-radius: 12px;
    font-size: 13px;
    color: #FCFFFF;
}

/*SVG styling FOR ALL react Skill icons*/
.skill svg{
    color: #7DF3FF;
}